# Keyboard layouts
setxkbmap no &
fcitx5 &

# Wallpaper
nitrogen --restore &

# Compositor
picom --fading --fade-delta=5 &

# Trayer
trayer --edge top --align right --SetDockType true --SetPartialStrut true --expand true --width 10 --transparent true --height 25 --tint 0x1c1e26 --alpha 0x00 --monitor 1 &
